fastapi
uvicorn
sqlalchemy
pydantic
alembic
psycopg2-binary
python-dotenv
python-multipart
APScheduler
firebase-admin
google-cloud-vision
tensorflow
pillow
opencv-python-headless
spoonacular
gunicorn

# Other dependencies will be installed as needed by these packages
